body{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color:  #e6e6e6;
}
img{
	width: 650px;
	height: 200px;
}
section article{
	margin-left: 20px;
	border:1px solid blue;
	margin-bottom: 10px; 
	background-color:#cccccc;
}
h1 {
	text-align: center;
	font-family: serif;
	font-size: 35px;
}

section a{
	float:right;
	margin-bottom: 10px;
}
h2, h3{
	text-align: center;
}

section article h4 {
	padding-left: 10px;
}
pre{
	color: white;
	padding-left: 20px;
	border:0;
	background-color: black;
}
section article p{
	padding-left: 20px;
	font-style: italic;
	font-weight: bold;
}
#first{
	color: blue;
}
#word1{
	color: yellow;
}
#link{
	color: green;
}
#fix{
	color: green;
}
#br{
	color: #8b008b;
}