body{
	background-color: lightgrey;
	max-width: 800px;
	margin: 0px auto;
}
h2{
	margin-top: 20px;
	font-size: 26px;
	text-align: center;
}
h2:hover{
	color: red;
	text-transform: uppercase;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	padding: 10px;
}
.section1-class{
	box-sizing: border-box;
	background-color:white;
	width: 100%;
	float:left;
	text-align: center;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 10px;
}
p{
	font-size: 22px;
	font-style: italic;
	padding: 5px;
}